@import url('https://fonts.googleapis.com/css?family=Arvo');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    margin: 0;
}

/***************************************HEADERSTART******************************************/

header {
    height: 60px;
    background-color: #19120e;
}

.icon {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 5px;
    left: 10px;
    background-image: url(img/green_icon40px.svg);
    background-repeat: no-repeat;
    z-index: 1;
}

.icon:hover {
    -webkit-animation: rotation 0.5s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(90deg);
    }
}

@-webkit-keyframes rotation2 {
    from {
        -webkit-transform: rotate(90deg);
    }

    to {
        -webkit-transform: rotate(0deg);
    }
}

.dropbtn {
    background-color: transparent;
    color: #f4f4f2;
    font-size: 22px;
    border: none;
    padding: 18px 22px;
    font-family: "Josefin Slab";
}

.bar1,
.bar2,
.bar3 {
    width: 32px;
    height: 4px;
    background-color: #f4f4f2;
    margin: 5px 0;
    transition: 0.4s;
}

.parent_dropbtn {
    display: inline-block;
    cursor: pointer;
}

.parent_dropdown-content {
    margin-right: 58px;
}

.parent_dropdown-content a {
    text-decoration: none;
    text-align: left;
    color: #f4f4f2;
    font-size: 15px;
    font-family: "Open Sans";
}

.dropdown {
    position: relative;
    display: inline-block;
    top: 1px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #19120e;
    width: 180px;
    top: 60px;
}

p {
    margin: 2px;
}

.dropdown-content a {
    color: #f4f4f2;
    text-decoration: none;
    display: block;
    padding: 10px 10px;
}

.dropbtn a {
    color: white;
    text-decoration: none;
    display: block;
}

.dropdown .dropbtn a {
    text-align: center;
    font-size: 22px;
    font-family: "Josefin Slab";
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: gray;
}

.dropdown:hover .dropbtn a {
    color: gray;
}

.parent_dropbtn {
    display: none;
}

.parent_dropdown-content {
    text-align: right;
}

.parent_dropdown-content {
    position: relative;
    top: 0px;
}

.parent_dropdown-content a:hover {
    color: black;
}

.dropdown-content a:hover {
    color: gray;
}

.facebook_icon {
    background-image: url(img/facebook_logo.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 32px;
    width: 32px;
    position: absolute;
    top: 10px;
    right: 10px;
}

@media screen and (max-width:850px) {

    header {
        height: 60px;
        border-top: 5px solid #19120e;
    }

    .parent_dropbtn {
        display: block;
    }

    .parent_dropbtn {
        display: inline-block;
        cursor: pointer;
        width: 40px;
        position: absolute;
        left: 10px;
    }

    .facebook_icon {
        top: 16px;
        right: 13px;
    }

    .icon {
        width: 55px;
        height: 55px;
        top: 32px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .icon:hover {
        animation: none;
    }

    .dropbtn {
        background-color: #19120e;
        color: white;
        width: 100%;
        text-align: left;
        padding: 10px 10px;
        text-decoration-line: underline;
    }

    .dropdown .dropbtn a {
        text-align: left;
        padding: 0px 0px;
    }

    .dropdown-content {
        display: block;
        position: relative;
        width: auto;
        top: 0;
    }

    .parent_dropdown-content {
        text-align: left;
        margin-right: 0px;
    }

    .parent_dropdown {
        position: relative;
        top: 10px;
    }

    .parent_dropdown-content {
        top: 59px;
        display: none;
        z-index: 1;
        margin-left: 10px;
        margin-right: 10px;
    }

    .dropdown {
        display: block;
    }

    .parent_dropdown-content a {
        text-decoration: none;
        display: block;
        color: white;
        text-align: left;
        padding: 7px 20px;
    }

    .dropdown:hover .dropbtn {
        color: gray;
    }

    .parent_dropdown-content a:hover {}

    .show {
        display: block;
    }

    .dropdown .dropbtn a:hover {
        color: gray;
    }
}


/***************************************HEADERSLUT******************************************/

/***************************************FOOTERSRART******************************************/

footer {
    height: auto;
    color: #f4f4f2;
    display: grid;
    grid-template-columns: auto 220px 260px 220px auto;
    border-bottom: 20px solid #19120e;
    border-top: 10px solid #19120e;
    background-color: #19120e;
}

.adresse {
    grid-column-start: 2;
    grid-column-end: 3;
    margin-top: 15px;
}

.aabningtider {
    grid-column-start: 3;
    grid-column-end: 4;
    margin-top: 15px;
}

.kontakt {
    grid-column-start: 4;
    grid-column-end: 5;
    margin-top: 15px;
}

.overskrift_footer {
    font-family: "Josefin Slab";
    font-size: 22px;
    display: block;
    margin: 10px;
}

.under_footer {
    font-family: "Open Sans";
    font-size: 15px;
    display: block;
    margin: 10px;
}


@media screen and (max-width:700px) {
    footer {
        height: auto;
        display: grid;
        grid-template-columns: auto 220px auto;
        grid-template-rows: 1fr 1fr 1fr;
        border-bottom: 10px solid #19120e;
    }

    .adresse {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .aabningtider {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        margin-top: 5px;
    }

    .kontakt {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        margin-top: 0px;
    }
}


/***************************************FOOTERSLUT******************************************/
