 @import url('https://fonts.googleapis.com/css?family=Arvo');
 @import url('https://fonts.googleapis.com/css?family=Josefin+Slab');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
 body {
     margin: 0;
 }

 h2 {
     margin: 0;
 }

 h3 {
     margin: 0;
 }

 h4 {
     margin: 0;
     margin-top: 20px;
 }

 p {
     margin: 0;
 }

 .page-container {
     display: grid;
     grid-template-columns: 12% auto 12%;
     grid-template-rows: 500px 500px;
     grid-gap: 20px;
     border: 20px solid #f4f4f2;
     background-color: #f4f4f2;;
     border-bottom: 50px solid #f4f4f2;
     border-top: 50px solid #f4f4f2;
 }

 .container1 {
     grid-column-start: 2;
     grid-column-end: 3;
     grid-row-start: 1;
     grid-row-end: 2;
     display: grid;
     grid-template-columns: auto 55%;
     grid-template-rows: auto auto auto auto;
 }

 .container2 {
     grid-column-start: 2;
     grid-column-end: 3;
     grid-row-start: 2;
     grid-row-end: 3;
     display: grid;
     grid-template-columns: auto 55%;
     grid-template-rows: auto auto auto auto;
 }

 #overskrift1 {
     grid-column-start: 1;
     grid-column-end: 2;
     grid-row-start: 1;
     grid-row-end: 2;
     font-family: "josefin slab";
     font-size: 22px;
 }

 #undertitel1 {
     grid-column-start: 1;
     grid-column-end: 2;
     grid-row-start: 2;
     grid-row-end: 3;
     font-family: "josefin slab";
     font-size: 18px;
     margin-right: 40px;
 }

 #tekstfelt1 {
     grid-column-start: 1;
     grid-column-end: 2;
     grid-row-start: 3;
     grid-row-end: 4;
     font-family: "Open Sans";
     font-size: 15px;
     margin-right: 40px;
 }

 #tekstfelt2 {
     grid-column-start: 1;
     grid-column-end: 2;
     grid-row-start: 4;
     grid-row-end: 5;
     font-family: "Open Sans";
     font-size: 15px;
     margin-right: 40px;
 }

 .billede1 {
     grid-column-start: 2;
     grid-column-end: 3;
     grid-row-start: 1;
     grid-row-end: 5;
 }

 .billede2 {
     grid-column-start: 2;
     grid-column-end: 3;
     grid-row-start: 1;
     grid-row-end: 5;
 }

 #overskrift2 {
     grid-column-start: 1;
     grid-column-end: 2;
     grid-row-start: 1;
     grid-row-end: 2;
     font-family: "josefin slab";
     font-size: 22px;
 }

 #undertitel2 {
     grid-column-start: 1;
     grid-column-end: 2;
     grid-row-start: 2;
     grid-row-end: 3;
     font-family: "josefin slab";
     font-size: 18px;
     margin-right: 40px;
 }

 #tekstfelt3 {
     grid-column-start: 1;
     grid-column-end: 2;
     grid-row-start: 3;
     grid-row-end: 4;
     font-family: "Open Sans";
     font-size: 15px;
     margin-right: 40px;
 }

 #tekstfelt4 {
     grid-column-start: 1;
     grid-column-end: 2;
     grid-row-start: 4;
     grid-row-end: 5;
     font-family: "Open Sans";
     font-size: 15px;
     margin-right: 40px;
 }

 img {
     width: 100%;
     height: 500px;
     object-fit: cover;
 }

 #overskrift1 h2 {
     margin-top: 0px;
     margin-right: 20px;
 }

 #overskrift2 h2 {
     margin-top: 0px;
     margin-right: 20px;
 }

 @media only screen and (max-width: 1350px) {
     .page-container {
         display: grid;
         grid-template-columns: auto;
         grid-template-rows: 500px 500px;
         grid-gap: 20px;
         border-left: 0px solid #f4f4f2;
     }
     .container1 {
         grid-column-start: 2;
         grid-column-end: 3;
         grid-row-start: 1;
         grid-row-end: 2;
         display: grid;
         grid-template-columns: 1fr 50%;
         grid-template-rows: auto auto auto auto;
     }

     .container2 {
         grid-column-start: 2;
         grid-column-end: 3;
         grid-row-start: 2;
         grid-row-end: 3;
         display: grid;
         grid-template-columns: 1fr 50%;
         grid-template-rows: auto auto auto auto;
     }
     .billede1 {
         margin-bottom: 0px;
     }

     .billede2 {
         margin-bottom: 0px;
     }

 }

 @media only screen and (max-width: 850px) {
     .page-container {
         display: grid;
         grid-template-columns: auto;
         grid-template-rows: auto auto;
         grid-gap: 0px;
         border-bottom: 20px solid #f4f4f2;
         border-top: 20px solid #f4f4f2;
         border-left: 20px solid #f4f4f2;
     }
     .container1 {
         grid-column-start: 1;
         grid-column-end: 2;
         grid-row-start: 1;
         grid-row-end: 2;
         display: grid;
         grid-template-columns: 1fr;
         grid-template-rows: auto auto auto auto auto;
     }
     .container2 {
         grid-column-start: 1;
         grid-column-end: 2;
         grid-row-start: 2;
         grid-row-end: 3;
         display: grid;
         grid-template-columns: 1fr;
         grid-template-rows: auto auto auto auto auto;
     }
     #overskrift1 {
         grid-column-start: 1;
         grid-column-end: 2;
         grid-row-start: 1;
         grid-row-end: 2;
         margin-bottom: 20px;
     }
     #undertitel1 {
         grid-column-start: 1;
         grid-column-end: 2;
         grid-row-start: 2;
         grid-row-end: 3;
         margin-right: 0px;
         margin-bottom: 20px;
     }
     #tekstfelt1 {
         grid-column-start: 1;
         grid-column-end: 2;
         grid-row-start: 3;
         grid-row-end: 4;
         margin-right: 0px;
         margin-bottom: 20px;
     }
     #tekstfelt2 {
         grid-column-start: 1;
         grid-column-end: 2;
         grid-row-start: 4;
         grid-row-end: 5;
         margin-right: 0px;
         margin-bottom: 10px;
         margin-bottom: 20px;
     }
     .billede1 {
         grid-column-start: 1;
         grid-column-end: 2;
         grid-row-start: 5;
         grid-row-end: 6;
         margin: 0px;
         margin-bottom: 18px;
     }
     .billede2 {
         grid-column-start: 1;
         grid-column-end: 1;
         grid-row-start: 5;
         grid-row-end: 6;
         margin: 0px;
     }
     #overskrift2 {
         grid-column-start: 1;
         grid-column-end: 2;
         grid-row-start: 1;
         grid-row-end: 2;
         margin-bottom: 20px;
     }
     #undertitel2 {
         grid-column-start: 1;
         grid-column-end: 2;
         grid-row-start: 2;
         grid-row-end: 3;
         margin-left: 0px;
         margin-bottom: 20px;
     }
     #tekstfelt3 {
         grid-column-start: 1;
         grid-column-end: 2;
         grid-row-start: 3;
         grid-row-end: 4;
         margin-left: 0px;
         margin-bottom: 20px;
     }
     #tekstfelt4 {
         grid-column-start: 1;
         grid-column-end: 2;
         grid-row-start: 4;
         grid-row-end: 5;
         margin-left: 0px;
         margin-bottom: 20px;
     }
     #overskrift1 h2 {
         margin-top: 0px;
         margin-left: 0px;
     }
     #overskrift2 h2 {
         margin-top: 0px;
         margin-left: 0px;
     }
     h4 {
         margin: 0;
     }
 }
@media only screen and (min-width: 1500px) {
    .page-container {
         border-bottom: 100px solid #f4f4f2;
     border-top: 100px solid #f4f4f2;
     }
}
